@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInTop {
    0% {
        transform: translateY(-3vh);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: .9;
    }
}

@keyframes fadeInBottom {
    0% {
        transform: translateY(3vh);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInTop {
    0% {
        height: .3vh;
        opacity: 0;
    }

    50% {
        height: 7.5vh;
        opacity: .3;
    }

    100% {
        height: 15vh;
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        display: flex;
        height: 15vh;
        opacity: 1;
    }

    25% {
        display: flex;
        height: 6vh;
        opacity: .9;
    }

    50% {
        display: flex;
        height: 2vh;
        opacity: .5;
    }

    100% {
        display: none;
        opacity: 0;
        height: 0;
    }
}

@keyframes movingArrow {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 30px;
    }
}

.desktop-div {
    display: none;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'League Spartan', sans-serif;
}

.mobile-nav {
    width: 100vw;
    height: 60vh;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-image: url("images\\mobile-image-hero-1.jpg");
    background-size: 100vw 60vh;
    background-repeat: no-repeat;
}

.mobile-nav-div {
    width: 100vw;
    height: 12vh;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-inner-navdiv {
    width: 90vw;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: left;
}

.mobile-logo {
    margin-top: 5px;
}

.mobile-navigate-iconsdiv {
    display: flex;
    justify-content: right;
    align-items: end;
    height: 48vh;
    width: 99vw;
}

.mobile-navigate-icons {
    background-color: hsl(0, 0%, 0%);
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto;
    width: 29vw;
    height: 9vh;
}

.mobile-navigator-div {
    background-color: white;
    width: 100vw;
    height: 15vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInTop .5s linear;
}

.mobile-navigator {
    width: 85vw;
    display: grid;
    grid-template-columns: auto auto;
}

.mobile-navs>a {
    color: black;
    margin-left: 7vw;
    text-transform: lowercase;
    text-decoration: none;
    font-weight: 700;
}

.overlay {
    background-color: hsl(0, 0%, 0%, .6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mobile-hero-div {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 65vh;
}

.mobile-hero {
    width: 75vw;
    margin-top: 4vh;
}

.mobile-hero-txt {
    font-weight: 700;
    letter-spacing: 0;
    line-height: 35px;
    font-size: 1.8em;
    width: 100vw;
    animation: fadeInTop .8s ease-out .2s both;
}

.mobile-hero-subtxt {
    color: hsl(0, 0%, 63%);
    line-height: 20px;
    animation: fadeIn .8s ease-out .2s both;
}

.mobile-shop-nowdiv {
    padding-top: 2vh;
    animation: fadeInBottom .8s ease-out .2s both;
}

.mobile-shop-now-link {
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 12px;
}

.mobile-shop-now-icon {
    margin-left: 30px;
    margin-top: 5px;
    animation: movingArrow 1s linear infinite alternate;
}

.mobile-main>img {
    width: 100vw;
    height: 35vh;
    margin-left: 0;
    margin-right: 0;
}

.mobile-about-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 100vw;
}

.mobile-about-innerdiv {
    width: 80vw;
}

.mobile-about-heading {
    text-transform: uppercase;
    letter-spacing: .35em;
    font-weight: 700;
    font-size: 1em;
    width: 80vw;
}

.mobile-about {
    margin-top: 25px;
    line-height: 23px;
    color: hsl(0, 0%, 63%);
}

.mobile-about-img {
    margin-bottom: 0;
}

.mobile-slide-two-nav {
    background-image: url("images\\mobile-image-hero-2.jpg");
}

.mobile-slide-three-nav {
    background-image: url("images\\mobile-image-hero-3.jpg");
}

.nav-display {
    animation: slideOut .5s linear both;
}

.display {
    display: none;
}